<div class="card mb-4">
    <div class="card-body">
        <h3 class="card-title">{{post.title}}</h3>
        <p class="card-text">By {{post.user.name}}</p>
        <p class="card-text">{{format_date post.date_created}}</p>
        <p class="card-text">{{post.content}}</p>
    </div>
</div>
{{#each post.comments as |comment|}}
<div class="card mt-3">
    <div class="card-body">
        <p class="card-text">Comment by {{comment.user.name}}</p>
        <p class="card-text">{{comment.content}}</p>
        <p class="card-text">{{format_date comment.date_created}}</p>
    </div>
</div>
{{/each}}

<form class="mt-3 form login-form">
    <div class="form-group">
        <label for="comment">Add a Comment:</label>
        <textarea class="form-control" rows="3" id="comment"></textarea>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>

{{#if logged_in}}
<script src="/js/postcomment.js"></script>
{{/if}}